*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background-color: #e6e5e1;
  width: 100vw;
  min-height: 100vh;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container i {
  opacity: 0;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  will-change: transform;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container .card {
  width: 500px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.container .card:before {
  z-index: 2;
  content: "";
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}

.container .card:after {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -16px;
  left: 32px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}

.container .card .fa-arrow-right {
  z-index: 4;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
}

.container .card p {
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 70px;
  font-size: 14px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 300;
  letter-spacing: 1px;
}

.container .card h2 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 130px;
  color: white;
  font-size: 60px;
  font-weight: 800;
}

.container .card .pic {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 400px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
  background-size: 100% 100%;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.container .card:hover .pic {
  -webkit-filter: none;
          filter: none;
}

.container .card ul {
  z-index: 1;
  position: absolute;
  left: 40px;
  top: 5px;
  list-style-type: none;
}

.container .card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #e6e5e1;
}

.container .card .social {
  position: absolute;
  z-index: 3;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}

.container .card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container .card:hover button {
  -webkit-transform: scale(500);
          transform: scale(500);
  opacity: 1;
}

.container .card:hover p {
  color: #fff;
}

.container .card button {
  opacity: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 1px;
  height: 1px;
  background-color: #da4d1d;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
  z-index: 3;
}

.container .card button i {
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */